# Copyright (C) 2012 - 2014 Juan Manuel Borges Caño <juanmabcmail@gmail.com>

NOTES

# Executables
cmds/cmd/cmd.sh
cmds/cmd/testcmdsh
cmds/cmd/cmd
cmds/cmd/testcmd
cmds/mkproject/mkproject
cmds/tw/mythes-raw
cmds/tw/mythes
cmds/tw/tw
cmds/tw/tw-config-klipper
cmds/tw/tw-config-gtw
cmds/rf/rf
cmds/imgs/imgs
cmds/typewrite/typewrite
cmds/colorize/colorize
cmds/show/show
cmds/pack/pack

# Documentation
cmd.man
mkproject.man
mythes.man
tw.man
rf.man
imgs.man
typewrite.man
colorize.man
show.man
pack.man

# Packages
codemiscs-*.tar.bz2
codemiscs-*.rpm
codemiscs-*.deb
codemiscs-*.pkg.tar.xz
codemiscs.spec
codemiscs.dsc
debian.rules
debian.changelog
debian.control
PKGBUILD

# Website
codemiscs.wiki/

# Autotools
autoconf.macro/
autoconf.aux/
autom4te.cache/
compile
config.*
configure
depcomp
aclocal.m4
stamp-*
libtool
ltmain.sh
mingw32-config.cache
missing
install-sh
glib-gettextize
glib-zip
gtk-doc.make
py-compile
test-driver
INSTALL

# Development
Makefile.in
Makefile
TAGS
.libs
.deps
*.o
*.lo
*.a
*.la
.*.swp
.sw?
*.rc
*.gcno
*.gcda
*.gcov
*.sourcefiles
*.stp
*.out
*.exe
*.def
*.test 
*.log
*.trs
