NOTES
codemiscs-*.tar.bz2
codemiscs-*.rpm
codemiscs.spec

# for all subdirectories
Makefile.in
Makefile
*.man
TAGS
.libs
.deps
*.o
*.lo
*.a
*.la
.*.swp
.sw?
*.rc
*.gcno
*.gcda
*.gcov
*.sourcefiles
*.stp
*.out
*.exe
*.def
*.test 
*.log
*.trs
# autofoo stuff here
compile
config.*
configure
depcomp
aclocal.m4
autom4te.cache
stamp-*
libtool
ltmain.sh
mingw32-config.cache
missing
install-sh
glib-gettextize
glib-zip
gtk-doc.make
py-compile
test-driver

INSTALL

cmd/testcmd
cmd/testcmdsh
cmd/cmd
mkproject/mkproject
tw/mythes-raw
tw/mythes
tw/tw
rf/rf
colorize/colorize
imgs/imgs-fetch-google
imgs/imgs-unify
imgs/imgs-slideshow
imgs/imgs-fortune
typewriter/typewriter
