NOTES
codemiscs-*.tar.bz2
codemiscs-*.rpm
codemiscs.spec

# for all subdirectories
Makefile.in
Makefile
TAGS
.libs
.deps
*.o
*.lo
*.a
*.la
.*.swp
.sw?
*.rc
*.gcno
*.gcda
*.gcov
*.sourcefiles
*.stp
*.out
*.exe
*.def
*.test 
*.log
*.trs
# autofoo stuff here
compile
config.*
configure
depcomp
aclocal.m4
autom4te.cache
stamp-*
libtool
ltmain.sh
mingw32-config.cache
missing
install-sh
glib-gettextize
glib-zip
gtk-doc.make
py-compile
test-driver

INSTALL

cmd/testcmd
cmd/testcmdsh
cmd/cmd
mkproject/mkproject
tw/mythes-raw
tw/mythes
tw/tw
rf/rf
imgs/imgs
typewriter/typewriter
colorize/colorize

cmd.man
mkproject.man
mythes.man
tw.man
rf.man
imgs.man
typewriter.man
colorize.man

codemiscs.wiki/
doc/backup/
